<header class="header" *ngIf = "variant.text">
  <h1>1</h1>
  <h1>{{headerData.content[0].header1}}</h1>
  <p>{{headerData.content[0].content1}}</p>
</header>

<header class="header" *ngIf = "variant.textoverimage">
    <h1>2</h1>
  <h1>{{headerData.content[0].header1}}</h1>
  <p>{{headerData.content[0].content1}}</p>
</header>

<header class="header" *ngIf = "variant.halfwidthandimage">
    <h1>3</h1>
  <h1>{{headerData.content[0].header1}}</h1>
  <p>{{headerData.content[0].content1}}</p>
</header>

<header class="header" *ngIf = "variant.headerwithblackovrlay">
    <h1>4</h1>
  <h1>{{headerData.content[0].header1}}</h1>
  <p>{{headerData.content[0].content1}}</p>
</header>